@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --gradient-logo: linear-gradient(
    90deg,
    rgba(53, 180, 148, 1) 11%,
    rgba(102, 114, 203, 1) 67%
  );
}
.dark {
  --color-header: rgb(35, 35, 36);
  --color-bg: rgba(52, 53, 65);
  --text-color: white;
  --btn-color: rgba(68, 70, 84, 1);
  --btn-text-color: white;
  --btn-hover: rgba(52, 53, 65);
  --nav-border: transparent;
}
.light {
  --color-header: white;
  --color-bg: white;
  --text-color: black;
  --btn-color: rgba(102, 114, 203, 1);
  --btn-text-color: white;
  --btn-hover: rgb(72, 87, 199);
  --nav-border: rgb(144, 144, 144);
}

.containter {
  padding: 2rem 4rem;
}

.gradient__text {
  background: var(--gradient-logo);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
